<app-header></app-header>
        <!-- start page title -->
        <section class="wow animate__fadeIn bg-light-gray padding-10px-tb page-title-small">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-xl-8 col-lg-6">
                        <h1 class="alt-font text-extra-dark-gray font-weight-500 no-margin-bottom text-center text-lg-start">My account</h1>
                    </div>
                    <div class="col-12 col-xl-4 col-lg-6 breadcrumb justify-content-center justify-content-lg-end text-small alt-font md-margin-10px-top">
                        <ul class="xs-text-center">
                            <li><a href="login.component.html" class="text-medium-gray">Home</a></li>
                            <li>My account</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- end page title -->
        <!-- start section -->
        <section class="wow animate__fadeIn" style="background-image: url(../../../assets/images/login-bg.jpg); background-repeat: no-repeat; background-size: cover; background-position: center; background-position: top;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-xl-5 col-md-6 lg-padding-30px-lr md-padding-15px-lr sm-margin-40px-bottom">
                        <h6 class="alt-font text-center font-weight-500 text-extra-dark-gray"><i class="line-icon-User icon-extra-small text-gradient-sky-blue-pink"></i> Login</h6>
                        <form class="bg-white padding-4-rem-all lg-margin-35px-top md-padding-2-half-rem-all">
                            <label class="margin-15px-bottom">Username or email address <span class="required-error text-radical-red">*</span></label>
                            <input class="small-input bg-white margin-20px-bottom required" type="text" name="text" placeholder="Enter your email">
                            <label class="margin-15px-bottom">Password <span class="required-error text-radical-red">*</span></label>
                            <input class="small-input bg-white margin-20px-bottom required" type="password" name="password" placeholder="Enter your password">
                            <label class="margin-25px-bottom">
                                <input class="d-inline-block align-middle w-auto mb-0 margin-5px-right" type="checkbox" name="account">
                                <span class="d-inline-block align-middle">Remember me</span>
                            </label>
                            <button class="btn btn-medium btn-fancy btn-dark-gray w-100 submit" type="submit">Login</button>
                            <p class="text-end margin-20px-top mb-0"><a href="#" class="btn btn-link  btn-medium text-extra-dark-gray">Lost your password?</a></p>

						</form>
						<a href="admin_page">&raquo;</a>
                    </div>

                </div>

            </div>
        </section>
        <!-- end section -->
        <!-- start footer -->
        <footer class="footer-dark bg-slate-blue">
            <div class="footer-top padding-seven-tb lg-padding-eight-tb sm-padding-50px-tb">
                <div class="container">
                    <div class="row">
                        <!-- start footer column -->
                        <div class="col-12 col-xl-3 col-sm-6 order-sm-1 order-xl-0 lg-margin-50px-bottom xs-margin-25px-bottom">
                            <a href="index.html" class="footer-logo margin-40px-bottom d-block"><img src="../../../assets/images/logo-white1.png" data-at2x="../../../assets/images/logo-white1.png" alt="" class="max-h-inherit"></a>
                            <span class="alt-font font-weight-300 text-medium line-height-36px letter-spacing-minus-1-half d-inline-block w-85">National Plastics Group
is a leading manufacturer of Plastic injection molded products for over seven decades and has been delivering on the promise of quality products.</span>
                        </div>
                        <!-- end footer column -->
                        <!-- start footer column -->
                        <div class="col-12 col-xl-2 offset-xl-1 col-sm-6 order-sm-3 order-xl-0 xs-margin-25px-bottom">
                            <span class="alt-font font-weight-500 d-block text-white text-uppercase letter-spacing-2px margin-20px-bottom xs-margin-10px-bottom">Company</span>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Our Team</a></li>
                                <li><a href="#">History</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Contact us</a></li>
                             </ul>
                        </div>
                        <!-- end footer column -->
                        <!-- start footer column -->
                        <div class="col-12 col-xl-2 offset-xl-1 col-sm-6 order-sm-4 order-xl-0 xs-margin-25px-bottom">
                            <span class="alt-font font-weight-500 d-block text-white text-uppercase letter-spacing-2px margin-20px-bottom xs-margin-10px-bottom">Services</span>
                             <ul>
                                <li><a href="#"> The National Advantage</a></li>
                                <li><a href="#"> Packaging</a></li>
                                <li><a href="#"> Automotive Components</a></li>
                                <li><a href="#"> Industrial Moldings</a></li>
                                <li><a href="#"> Investor Relations</a></li>
                            </ul>
                        </div>
                        <!-- end footer column -->
                        <!-- start footer column -->
                        <div class="col-12 col-xl-2 offset-xl-1 col-sm-6 order-sm-2 order-xl-0 lg-margin-50px-bottom xs-no-margin-bottom">
                            <span class="alt-font font-weight-500 d-block text-white text-uppercase letter-spacing-2px margin-30px-bottom xs-margin-25px-bottom">Follow us</span>
                            <div class="social-icon-style-12">
                                <ul class="extra-small-icon light">
                                    <li><a class="facebook" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a class="dribbble" href="http://www.dribbble.com" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                                    <li><a class="twitter" href="http://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li><a class="instagram" href="http://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- end footer column -->
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer -->

