  <app-header></app-header>
        <!-- start section -->
        <section class="p-0">
            <div class="swiper-container white-move mobileoff-fullscreen-top-space md-h-600px sm-h-500px" data-slider-options='{ "slidesPerView": 1, "loop": true, "pagination": { "el": ".swiper-pagination", "clickable": true }, "navigation": { "nextEl": ".swiper-button-next-nav", "prevEl": ".swiper-button-previous-nav" }, "autoplay": { "delay": 4500, "disableOnInteraction": false }, "keyboard": { "enabled": true, "onlyInViewport": true }, "effect": "slide" }'>
                <div class="swiper-wrapper">
                    <!-- start slider item -->
                    <div class="swiper-slide cover-background" style="background-image:url('../../../assets/images/slider3.jpg');">
                        <div class="overlay-bg bg-transparent-gradient-sky-blue-pink"></div>
                        <div class="container h-100">
                            <div class="row h-100">
                                <div class="col-12 col-xl-6 col-lg-7 col-sm-8 h-100 d-flex justify-content-center flex-column position-relative">
                                    <p class="alt-font text-extra-medium text-white opacity-7 font-weight-300 margin-40px-bottom xs-margin-20px-bottom">Delivering beautiful products</p>
                                    <h2 class="alt-font text-shadow-double-large font-weight-600 text-white margin-55px-bottom w-90 md-w-100 md-no-text-shadow xs-margin-35px-bottom">Molding Success From Plastics</h2>
                                    <div class="d-inline-block">
                                        <a href="#" target="_blank" class="btn btn-fancy btn-medium btn-gradient-sky-blue-pink margin-30px-right xs-margin-15px-bottom">View more</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end slider item -->
                    <!-- start slider item -->
                    <div class="swiper-slide cover-background" style="background-image:url('../../../assets/images/slider5.jpg');">
                        <div class="overlay-bg bg-transparent-gradient-light-red-orange"></div>
                        <div class="container h-100">
                            <div class="row h-100">
                                <div class="col-12 col-xl-6 col-lg-7 col-sm-8 h-100 d-flex justify-content-center flex-column position-relative">
                                    <p class="alt-font text-extra-medium text-white opacity-7 font-weight-300 margin-40px-bottom xs-margin-20px-bottom">Delivering beautiful products</p>
                                    <h2 class="alt-font text-shadow-double-large font-weight-600 text-white margin-55px-bottom w-90 md-w-100 md-no-text-shadow xs-margin-35px-bottom">Molding Success From Plastics</h2>
                                    <div class="d-inline-block">
                                        <a href="#" target="_blank" class="btn btn-fancy btn-medium btn-gradient-sky-blue-pink margin-30px-right xs-margin-15px-bottom">View more</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end slider item -->
                    <!-- start slider item -->
                    <div class="swiper-slide cover-background" style="background-image:url('../../../assets/images/slider4.jpg');">
                        <div class="overlay-bg bg-transparent-gradient-fast-blue-purple"></div>
                        <div class="container h-100">
                            <div class="row h-100">
                                <div class="col-12 col-xl-6 col-lg-7 col-sm-8 h-100 d-flex justify-content-center flex-column position-relative">
                                    <p class="alt-font text-extra-medium text-white opacity-7 font-weight-300 margin-40px-bottom xs-margin-20px-bottom">Delivering beautiful digital products</p>
                                    <h2 class="alt-font text-shadow-double-large font-weight-600 text-white margin-55px-bottom w-90 md-w-100 md-no-text-shadow xs-margin-35px-bottom">The best way to promote business</h2>
                                    <div class="d-inline-block">
                                        <a href="#" target="_blank" class="btn btn-fancy btn-medium btn-gradient-sky-blue-pink margin-30px-right xs-margin-15px-bottom">View more</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

					<div class="d-flex flex-row justify-content-end ms-auto w-750px position-absolute right-0px bottom-0px z-index-1 sm-position-relative sm-w-100">
                <div class="row align-items-center justify-content-end mx-0 w-100">
                    <div class="col-12 col-sm-9 align-items-center d-flex bg-tussock h-100 padding-3-rem-tb padding-5-rem-lr xs-padding-3-rem-lr">
                        <h5 class="alt-font text-white font-weight-300 m-0">Are you ready to grow your <span class="font-weight-600">business successfully?</span></h5>
                    </div>
                    <div class="col-3 p-0 h-100 d-none d-xl-inline-block">
                        <a href="#" class="text-center align-items-center d-flex justify-content-center bg-seashell h-100"><i class="line-icon-Arrow-OutRight icon-extra-large text-tussock"></i></a>
                    </div>
                </div>
            </div>
                    <!-- end slider item -->
                </div>
                <!-- start slider pagination -->
                <div class="swiper-pagination swiper-light-pagination"></div>
                <!-- end slider pagination -->
                <!-- start slider navigation -->
                <!-- <div class="swiper-button-next-nav swiper-button-next rounded-circle slider-navigation-style-07"><i class="feather icon-feather-arrow-right"></i></div>
                <div class="swiper-button-previous-nav swiper-button-prev rounded-circle slider-navigation-style-07"><i class="feather icon-feather-arrow-left"></i></div>  -->
                <!-- end slider navigation -->
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
		<section class="big-section">
            <div class="container">
                <div class="row align-items-lg-center justify-content-center">
                    <div class="col-12 col-lg-4 col-md-6 fancy-text-box-style-01 text-center text-md-start md-margin-50px-bottom sm-margin-40px-bottom wow animate__fadeIn">
                        <div class="fancy-text-box padding-3-half-rem-all md-padding-4-rem-all xs-padding-30px-all">
                            <div class="fancy-text-box-border-left border-color-neon-orange"></div>
                            <h1 class="alt-font fancy-text-content font-weight-600 text-extra-dark-gray d-inline-block align-middle letter-spacing-minus-5px">70</h1>
                            <div class="alt-font text-extra-medium text-extra-dark-gray font-weight-500 text-start d-inline-block align-middle w-90px mx-auto line-height-20px position-relative top-minus-4px">Years experience working</div>
                            <div class="fancy-text-box-border-right border-color-fast-blue"></div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 col-md-4 text-center text-md-start wow animate__fadeIn" data-wow-delay="0.2s">
                        <span class="alt-font text-medium text-uppercase margin-20px-bottom d-block">Since 1953</span>
                        <div class="alt-font text-extra-large text-extra-dark-gray font-weight-500 line-height-34px w-85 lg-w-100 sm-margin-15px-bottom">Trully corporate company based in India</div>
                    </div>
                    <div class="col-12 col-lg-5 col-md-10 text-center text-md-start wow animate__fadeIn" data-wow-delay="0.4s">
                        <p class="w-85 lg-w-100">  National Plastics Group
is a leading manufacturer of Plastic injection molded products for over seven decades and has been delivering on the promise of quality products.</p>
                        <a href="#" class="btn btn-link thin btn-extra-large text-extra-dark-gray">About company</a>
                    </div>
                </div>
            </div>
        </section>
		<hr />

        <!-- end section -->
        <!-- start section -->
		<section class="big-section bg-extra-medium-gray border-top border-color-medium-gray">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center margin-seven-bottom">
                        <h5 class="alt-font text-white font-weight-500">Products</h5>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-9 col-lg-12 position-relative">
                        <div class="swiper-container black-move" data-slider-options='{ "slidesPerView": 1, "loop": true, "spaceBetween": 30, "autoplay": { "delay": 3000, "disableOnInteraction": false }, "navigation": { "nextEl": ".swiper-button-next-nav", "prevEl": ".swiper-button-previous-nav" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "992": { "slidesPerView": 2 } }, "effect": "slide" }'>
                            <div class="swiper-wrapper">
                                <!-- start services item -->
                                <div class="swiper-slide">
                                    <div class="row m-0 h-100">
                                        <div class="col-12 col-sm-6 cover-background xs-h-200px" style="background: url(../../../assets/images/img1.jpg);"></div>
                                        <div class="col-12 col-sm-6 d-flex padding-4-rem-all bg-white lg-padding-2-half-rem-all xs-padding-4-rem-all">
                                            <div class="align-self-center">
                                                <span class="alt-font font-weight-500 text-uppercase text-slate-blue margin-10px-bottom d-block">PET Preforms</span>
                                                <p>We manufacture PET Preforms in FSSC 22000 certified plants and have a nationwide manufacturing footprint.. </p>
                                                <a href="#" class="btn btn-fancy btn-very-small btn-slate-blue">View Products</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end services item -->
                                <!-- start services item -->
                                <div class="swiper-slide">
                                    <div class="row m-0 h-100">
                                        <div class="col-12 col-sm-6 cover-background xs-h-200px" style="background: url(../../../assets/images/img2.jpg);"></div>
                                        <div class="col-12 col-sm-6 d-flex padding-4-rem-all bg-white lg-padding-2-half-rem-all xs-padding-4-rem-all">
                                            <div class="align-self-center">
                                                <span class="alt-font font-weight-500 text-uppercase text-slate-blue margin-10px-bottom d-block">IML / Thin Walled Packaging</span>
                                                <p>We manufacture thin walled containers with In Mold Labeling technology in Stat... </p>
                                                <a href="#" class="btn btn-fancy btn-very-small btn-slate-blue">View Products</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end services item -->
                                <!-- start services item -->
                                <div class="swiper-slide">
                                    <div class="row m-0 h-100">
                                        <div class="col-12 col-sm-6 cover-background xs-h-200px" style="background: url(../../../assets/images/img3.jpg);"></div>
                                        <div class="col-12 col-sm-6 d-flex padding-4-rem-all bg-white lg-padding-2-half-rem-all xs-padding-4-rem-all">
                                            <div class="align-self-center">
                                                <span class="alt-font font-weight-500 text-uppercase text-slate-blue margin-10px-bottom d-block">Handles / Caps / Speciality Molding</span>
                                                <p>We manufacture complex and customised packaging and injection molded components.</p>
                                                <a href="#" class="btn btn-fancy btn-very-small btn-slate-blue">View Products</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end services item -->
                                <!-- start services item -->
                                <div class="swiper-slide">
                                    <div class="row m-0 h-100">
                                        <div class="col-12 col-sm-6 cover-background xs-h-200px" style="background: url(../../../assets/images/img3.jpg);"></div>
                                        <div class="col-12 col-sm-6 d-flex padding-4-rem-all bg-white lg-padding-2-half-rem-all xs-padding-4-rem-all">
                                            <div class="align-self-center">
                                                <span class="alt-font font-weight-500 text-uppercase text-slate-blue margin-10px-bottom d-block">Automative Components</span>
                                                <p>Our range of Auto Components include.</p>
                                                <a href="#" class="btn btn-fancy btn-very-small btn-slate-blue">View Products</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>


								<div class="swiper-slide">
                                    <div class="row m-0 h-100">
                                        <div class="col-12 col-sm-6 cover-background xs-h-200px" style="background: url(../../../assets/images/img4.jpg);"></div>
                                        <div class="col-12 col-sm-6 d-flex padding-4-rem-all bg-white lg-padding-2-half-rem-all xs-padding-4-rem-all">
                                            <div class="align-self-center">
                                                <span class="alt-font font-weight-500 text-uppercase text-slate-blue margin-10px-bottom d-block">Automative Components</span>
                                                <p>Our range of Auto Components include, Interior & Exterior trims,...</p>
                                                <a href="#" class="btn btn-fancy btn-very-small btn-slate-blue">View Products</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

								<div class="swiper-slide">
                                    <div class="row m-0 h-100">
                                        <div class="col-12 col-sm-6 cover-background xs-h-200px" style="background: url(../../../assets/images/img5.jpg);"></div>
                                        <div class="col-12 col-sm-6 d-flex padding-4-rem-all bg-white lg-padding-2-half-rem-all xs-padding-4-rem-all">
                                            <div class="align-self-center">
                                                <span class="alt-font font-weight-500 text-uppercase text-slate-blue margin-10px-bottom d-block">Industrial Molding</span>
                                                <p>We manufacture components for Printers, Keyboards,,...</p>
                                                <a href="#" class="btn btn-fancy btn-very-small btn-slate-blue">View Products</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- end services item -->
                            </div>
                        </div>
                        <!-- start slider navigation -->
                        <div class="swiper-button-previous-nav swiper-button-prev light slider-navigation-style-07 rounded-circle box-shadow-double-large"><i class="feather icon-feather-arrow-left"></i></div>
                        <div class="swiper-button-next-nav swiper-button-next light slider-navigation-style-07 rounded-circle box-shadow-double-large"><i class="feather icon-feather-arrow-right"></i></div>
                        <!-- end slider navigation -->
                    </div>
                </div>
            </div>
        </section>


        <section class="overflow-visible position-relative z-index-1">
            <div class="container">
                <div class="row justify-content-center ">
                    <div class="col-12 col-lg-5 col-sm-9 d-flex flex-column text-center text-lg-start md-margin-6-rem-bottom wow animate__fadeIn">
                        <div class="margin-20px-bottom sm-margin-15px-bottom"><span class="alt-font text-medium text-gradient-sky-blue-pink text-uppercase font-weight-500">Our expertise</span></div>
                        <h5 class="alt-font text-extra-dark-gray font-weight-600 w-95 margin-20px-bottom md-margin-30px-bottom lg-w-100">We design brand, business experience that engage the right customers</h5>
                        <div class="mt-auto mx-auto mx-lg-0">
                            <a href="index.html" class="btn btn-fancy btn-small btn-transparent-light-gray">View more</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 offset-lg-1">
                        <div class="row row-cols-1 row-cols-sm-2">
                            <!-- start pie chart item -->
                            <div class="col text-center text-lg-start xs-margin-45px-bottom wow animate__fadeIn" data-wow-delay="0.2s">
                                <div class="chart-percent d-inline-block margin-40px-bottom xs-margin-20px-bottom">
                                    <span class="pie-chart-style-02" data-line-width="8" data-percent="99" data-track-color="#f5f5f5" data-start-color="#f77993" data-end-color="#5d6ff9">
                                        <span class="percent alt-font font-weight-500 title-extra-small letter-spacing-minus-1px text-extra-dark-gray"></span>
                                    </span>
                                </div>
                                <div class="last-paragraph-no-margin wow animate__fadeIn" data-wow-duration="0.2">
                                    <span class="alt-font font-weight-500 margin-5px-bottom d-block text-extra-dark-gray">Innovative solutions</span>
                                    <p class="d-inline-block w-85 lg-w-100 md-w-75 sm-w-95 xs-w-75">Lorem ipsum is simply dummy text of the printing and type.</p>
                                </div>
                            </div>
                            <!-- end pie chart item -->
                            <!-- start pie chart item -->
                            <div class="col text-center text-lg-start wow animate__fadeIn" data-wow-delay="0.4s">
                                <div class="chart-percent d-inline-block margin-40px-bottom xs-margin-20px-bottom">
                                    <span class="pie-chart-style-02" data-line-width="8" data-percent="98" data-track-color="#f5f5f5" data-start-color="#f77993" data-end-color="#5d6ff9">
                                        <span class="percent alt-font font-weight-500 title-extra-small letter-spacing-minus-1px text-extra-dark-gray"></span>
                                    </span>
                                </div>
                                <div class="last-paragraph-no-margin">
                                    <span class="alt-font font-weight-500 margin-5px-bottom d-block text-extra-dark-gray">Marketing strategy</span>
                                    <p class="d-inline-block w-85 lg-w-100 md-w-75 sm-w-95 xs-w-75">Lorem ipsum is simply dummy text of the printing and type.</p>
                                </div>
                            </div>
                            <!-- end pie chart item -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
         <section class="big-section" id="about">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-lg-5 col-md-9 md-margin-7-rem-bottom">
                        <span class="alt-font margin-20px-bottom text-gradient-sky-blue-pink d-inline-block text-uppercase font-weight-500">We sfocus </span>
                        <h4 class="alt-font font-weight-600 text-extra-dark-gray w-95"> CSR & Sustainability</h4>
                        <p class="w-80 lg-w-95"> Corporate Social Responsibility has been our continuing commitment in contributing to the economic development and improving the quality of life of our workforce and their families as well as of the local community and society at large.</p>
                        <p class="w-80 lg-w-95">   Our group companies constantly contribute to create a better society and a cleaner environment.</p>
                        <a href="our-services.html" class="btn btn-medium btn-dark-gray margin-15px-top btn-round-edge section-link">Our services<i class="feather icon-feather-arrow-right icon-very-small right-icon"></i></a>
                    </div>
                    <div class="col-12 col-lg-7 col-md-9 padding-55px-lr md-padding-5px-left sm-padding-50px-right">
                        <figure class="image-back-offset-shadow position-right w-100">
                            <img class="border-radius-6px" src="../../../assets/images/csr.jpg" alt=""/>
                            <span class="bg-gradient-fast-blue-purple border-radius-6px overlay"></span>
                        </figure>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="bg-light-blue">
            <div class="container">
                <div class="row justify-content-center wow animate__fadeIn">
                    <div class="col-12 col-xl-6 col-lg-7 col-sm-8 text-center margin-5-rem-bottom md-margin-5-rem-bottom">
                        <span class="d-inline-block alt-font text-medium text-gradient-sky-blue-pink text-uppercase font-weight-500 margin-20px-bottom sm-margin-15px-bottom">For packaging enquiries</span>
                        <h5 class="alt-font text-extra-dark-gray font-weight-600 letter-spacing-minus-1px">Get in Touch</h5>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <!-- start feature box item -->
                    <div class="col-12 col-lg-6 col-md-9 margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn">
                        <div class="feature-box h-100 feature-box-left-icon border-radius-5px bg-white box-shadow-small box-shadow-extra-large-hover overflow-hidden padding-4-rem-all">
                            <div class="feature-box-icon">
                                <i class="line-icon-Mail-2 icon-medium text-gradient-sky-blue-pink"></i>
                            </div>
                            <div class="feature-box-content last-paragraph-no-margin">
                                <span class="alt-font font-weight-500 margin-10px-bottom d-block text-extra-dark-gray">For packaging enquiries</span>
                                <p>sc@nationalgroup.in</p>
                            </div>
                        </div>
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="col-12 col-lg-6 col-md-9 margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn" data-wow-delay="0.2s">
                        <div class="feature-box h-100 feature-box-left-icon border-radius-5px bg-white box-shadow-small box-shadow-extra-large-hover overflow-hidden padding-4-rem-all">
                            <div class="feature-box-icon">
                                <i class="line-icon-Mail-2 icon-medium text-gradient-sky-blue-pink"></i>
                            </div>
                            <div class="feature-box-content last-paragraph-no-margin">
                                <span class="alt-font font-weight-500 margin-10px-bottom d-block text-extra-dark-gray">For automotive enquiries</span>
                                <p>sridhar@nationalgroup.in</p>
                            </div>
                        </div>
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="col-12 col-lg-6 col-md-9 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn" data-wow-delay="0.4s">
                        <div class="feature-box h-100 feature-box-left-icon border-radius-5px bg-white box-shadow-small box-shadow-extra-large-hover overflow-hidden padding-4-rem-all">
                            <div class="feature-box-icon">
                                <i class="line-icon-Mail-2 icon-medium text-gradient-sky-blue-pink"></i>
                            </div>
                            <div class="feature-box-content last-paragraph-no-margin">
                                <span class="alt-font font-weight-500 margin-10px-bottom d-block text-extra-dark-gray">For general enquiries</span>
                                <p>contact@nationalgroup.in</p>
                            </div>
                        </div>
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="col-12 col-lg-6 col-md-9 wow animate__fadeIn" data-wow-delay="0.6s">
                       <div class="feature-box h-100 feature-box-left-icon border-radius-5px bg-white box-shadow-small box-shadow-extra-large-hover overflow-hidden padding-4-rem-all">
                            <div class="feature-box-icon">
                                <i class="line-icon-Mail-2 icon-medium text-gradient-sky-blue-pink"></i>
                            </div>
                            <div class="feature-box-content last-paragraph-no-margin">
                                <span class="alt-font font-weight-500 margin-10px-bottom d-block text-extra-dark-gray">For jobs enquiries</span>
                                <p>careers@nationalgroup.in</p>
                            </div>
                        </div>
                    </div>
                    <!-- end feature box item -->
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->

        <!-- end section -->
        <!-- start footer -->
        <footer class="footer-dark bg-slate-blue">
            <div class="footer-top padding-seven-tb lg-padding-eight-tb sm-padding-50px-tb">
                <div class="container">
                    <div class="row">
                        <!-- start footer column -->
                        <div class="col-12 col-xl-3 col-sm-6 order-sm-1 order-xl-0 lg-margin-50px-bottom xs-margin-25px-bottom">
                            <a href="index.html" class="footer-logo margin-40px-bottom d-block"><img src="../../../assets/images/logo-white1.png" data-at2x="../../../assets/images/logo-white1.png" alt="" class="max-h-inherit"></a>
                            <span class="alt-font font-weight-300 text-medium line-height-36px letter-spacing-minus-1-half d-inline-block w-85">National Plastics Group
is a leading manufacturer of Plastic injection molded products for over seven decades and has been delivering on the promise of quality products.</span>
                        </div>
                        <!-- end footer column -->
                        <!-- start footer column -->
                        <div class="col-12 col-xl-2 offset-xl-1 col-sm-6 order-sm-3 order-xl-0 xs-margin-25px-bottom">
                            <span class="alt-font font-weight-500 d-block text-white text-uppercase letter-spacing-2px margin-20px-bottom xs-margin-10px-bottom">Company</span>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Our Team</a></li>
                                <li><a href="#">History</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Contact us</a></li>
                             </ul>
                        </div>
                        <!-- end footer column -->
                        <!-- start footer column -->
                        <div class="col-12 col-xl-2 offset-xl-1 col-sm-6 order-sm-4 order-xl-0 xs-margin-25px-bottom">
                            <span class="alt-font font-weight-500 d-block text-white text-uppercase letter-spacing-2px margin-20px-bottom xs-margin-10px-bottom">Services</span>
                             <ul>
                                <li><a href="#"> The National Advantage</a></li>
                                <li><a href="#"> Packaging</a></li>
                                <li><a href="#"> Automotive Components</a></li>
                                <li><a href="#"> Industrial Moldings</a></li>
                                <li><a href="#"> Investor Relations</a></li>
                            </ul>
                        </div>
                        <!-- end footer column -->
                        <!-- start footer column -->
                        <div class="col-12 col-xl-2 offset-xl-1 col-sm-6 order-sm-2 order-xl-0 lg-margin-50px-bottom xs-no-margin-bottom">
                            <span class="alt-font font-weight-500 d-block text-white text-uppercase letter-spacing-2px margin-30px-bottom xs-margin-25px-bottom">Follow us</span>
                            <div class="social-icon-style-12">
                                <ul class="extra-small-icon light">
                                    <li><a class="facebook" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a class="dribbble" href="http://www.dribbble.com" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                                    <li><a class="twitter" href="http://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li><a class="instagram" href="http://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- end footer column -->
                    </div>
                </div>
            </div>
        </footer>
