<header class="header-with-topbar">
  <div class="top-bar bg-extra-dark-gray border-bottom border-color-black-transparent d-none d-md-inline-block padding-35px-lr md-no-padding-lr">
      <div class="container-fluid nav-header-container">
          <div class="d-flex flex-wrap align-items-center">
              <div class="col-12 text-center text-color-white text-sm-start col-sm-auto me-auto ps-lg-0">
                  <ul class="social-icon padding-5px-tb">
                      <li><a class="text-neon-blue-hover" href="http://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                       <li><a class="text-neon-blue-hover" href="http://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
                      <li><a class="text-neon-blue-hover" href="http://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
                  </ul>
              </div>
              <div class="col-auto d-none d-sm-block text-end px-lg-0 font-size-0">
                  <div class="top-bar-contact">
     <span class="top-bar-contact-list icon-extra-small text-white-transparent">
                          <a href="#" class=""><i class="ti-home"></i> Home</a>  </span>
      <span class="top-bar-contact-list">
                         <a href="#" class=""><i class="ti-user"></i>  Team</a> </span>
                      <span class="top-bar-contact-list">
                          <a href="#" class=""><i class="ti-layers"></i>   History</a>  </span>
                      <span class="top-bar-contact-list d-none d-md-inline-block no-border-right pe-0">
                          <a href="#" class=""><i class="ti-agenda"></i>   Careers</a>  </span>
       <span class="top-bar-contact-list d-none d-md-inline-block no-border-right pe-0">
                         <a href="#" class=""><i class="ti-mobile"></i>   Contact </a>  </span>
         <span class="top-bar-contact-list d-none d-md-inline-block no-border-right pe-0">
                         <a href="login_page"  class=""><i class="ti-desktop"></i>   Login </a>  </span>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <nav class="navbar navbar-expand-lg top-space navbar-light bg-white header-light fixed-top navbar-boxed header-reverse-scroll">
      <div class="container-fluid nav-header-container">
          <div class="col-6 col-lg-2 me-auto ps-lg-0">
              <a class="navbar-brand" href="index.html">
                  <img src="assets/images/logo.png" data-at2x="assets/images/logo1.png" class="default-logo" alt="">
                  <img src="assets/images/logo-black.png" data-at2x="assets/images/logo1.png" class="alt-logo" alt="">
                  <img src="assets/images/logo.png" data-at2x="assets/images/logo1.png" class="mobile-logo" alt="">
              </a>
          </div>
          <div class="col-auto menu-order px-lg-0">
              <button class="navbar-toggler float-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
                  <span class="navbar-toggler-line"></span>
                  <span class="navbar-toggler-line"></span>
                  <span class="navbar-toggler-line"></span>
                  <span class="navbar-toggler-line"></span>
              </button>
              <div class=" collapse navbar-collapse justify-content-center" id="navbarNav">
                  <ul class="navbar-nav alt-font" >
       <li><a href="#" class="nav-link"><i class="ti-star"></i> The National Advantage</a></li>
       <li><a href="#" class="nav-link"><i class="ti-star"></i> Packaging</a></li>
       <li><a href="#" class="nav-link"><i class="ti-star"></i> Automotive Components</a></li>
       <li><a href="#" class="nav-link"><i class="ti-star"></i> Industrial Moldings</a></li>
       <li><a href="#" class="nav-link"><i class="ti-star"></i> Investor Relations</a></li>

                      <!--<li class="nav-item dropdown simple-dropdown">
                          <a href="#" class="nav-link">Pages</a>
                          <i class="fa fa-angle-down dropdown-toggle" data-bs-toggle="dropdown" aria-hidden="true"></i>
                          <ul class="dropdown-menu" role="menu">
                              <li class="dropdown">
                                  <a data-bs-toggle="dropdown" href="#">About</a>
                               </li>
                           </ul>
                      </li>-->

                  </ul>
              </div>
          </div>

      </div>
  </nav>
</header>


